# hexchat
hexchat/.config/hexchat/logs
hexchat/.config/hexchat/scrollback
hexchat/.config/hexchat/servlist.conf

# vim & vim-plug
vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old
vim/.vim/plugged
vim/.vim/tmp

# vscode
vscode/.config/Code/Backups
vscode/.config/Code/Cache
vscode/.config/Code/CachedData
vscode/.config/Code/Cookies
vscode/.config/Code/Cookies-journal
vscode/.config/Code/GPUCache
vscode/.config/Code/Local\ Storage
vscode/.config/Code/User/material-icon-theme.json
vscode/.config/Code/Preferences
vscode/.config/Code/storage.json
vscode/.config/Code/User/sync.lock
vscode/.config/Code/User/syncLocalSettings.json
