* {
    border: none;
    border-radius: 0;
    font-family: Fira Mono, Arial;
    font-size: 13px;
    min-height: 0;
  }
  
  #waybar {
    background: #2c2e34;
    color: #ffffff;
  }

  #workspaces {
  }
  
  #workspaces button {
    padding: 0 5px;
  }

  #workspaces button.focused {
    padding: 0 5px;
    background: #00afd7;
  }

  #workspaces button.urgent {
    background: #e06c75;
  }

  #mode {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #e06c75;
  }

  #custom-spotify {
    border-top: 2px solid #98c379;
  }

  #custom-kubectx {
    border-top: 2px solid #61afef;
  }
  
  #pulseaudio {
    border-top: 2px solid #d19a66;
  }

  #pulseaudio.muted {
    color: #e06c75;
  }
  
  #network {
    border-top: 2px solid #be5046;
  }

  #network.disconnected {
    color: #be5046;
  }

  #backlight {
    border-top: 2px solid #e5c07b;
  }

  #battery {
    border-top: 2px solid #c678dd;
  }

  #battery.warning,
  #battery.warning:not(.charging) {
    color: #d19a66;
  }
  
  #battery.critical,
  #battery.critical:not(.charging) {
    color: #e06c75;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #custom-cet,
  #custom-eastern,
  #custom-pst {
    border-top: 2px solid #c8ccd4;
  }
  
  #waybar > box:nth-child(2) > box:nth-child(3) > * > label {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
